@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --Bg-black: #141516;
    --Bg-blue: #002043;
    --Bg-header: #071829;
    --font-Cl: #ffff;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    /* border: 1px solid white; */
}
body {
    /* background: var(--Bg-black); */
    /* display: flex; */
    background-image: url(/assets/img/backgrondund.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #071829;
    /* align-items: center; */
    padding: 20px;
    width: 200px;
    height: 100vh;
    position: fixed;
    border-right: 1px solid #ffff;
}
.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
header a img {
    border-radius: 15px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    align-items: center;
}
header nav {
    display: flex;
    justify-content: center;

}
header ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 50px;
}
nav ul li button {
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    /* margin: 20px 0px; */
    background: rgba(0,0,0,0.09);
    border-radius: 10px;
    width: 100%;
    text-align: start;
}
nav ul li button::before, 
nav ul li button::after {
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.4s linear;
    background: #fff;
}
nav ul li button span {
    display: block;
    padding: 2px 15px;
    color: #ffff;
    font-size: 1.2em;
    font-weight: 500;
}
nav ul li button span::before, 
nav ul li button span::after {
    content:"";
    width:2px;
    height:0;
    position: absolute;
    transition: all 0.4s linear;
    background: #fff;
}
nav ul li button:hover::before, 
nav ul li button:hover::after,
.active{
    width: 100%;
  }
nav ul li button:hover span::before,
nav ul li button:hover span::after {
    height: 100%;
}
.nav-btn::before {
    left: 50%;
    top: 0;
    transition-duration: 0.6s;
  }
.nav-btn::after {
    left: 50%;
    bottom: 0;
    transition-duration: 0.6s;
  }
.nav-btn span::before {
    left: 0;
    top: 50%;
    transition-duration: 0.6s;
  }
.nav-btn span::after {
    right: 0;
    top: 50%;
    transition-duration: 0.6s;
  }
.nav-btn:hover::before, 
.nav-btn:hover::after {
    left: 0;
  }
.nav-btn:hover  span::before, 
.nav-btn:hover span::after {
    top: 0;
  }
.light-btn {
    display: flex;
    justify-content: center;
}
header .light-mode {
    position: relative;
    display: flex;
    width: 70px;
    height: 30px;
    justify-content: space-between;
    padding: 5px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    background-color: var(--Bg-black);
    color: var(--font-Cl);
}
header .light-mode::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #ffff;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}
header .light-mode.active {
    background: yellowgreen;
    color: var(--Bg-black);
}
header .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #ffff;
}

/* ******About me***************** */
#hero {
    display: flex;
    padding: 20px;
    margin-left: 200px;
    justify-content: space-between;
}
.info-container {
    display: flex;
    flex-direction: column;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text h1 {
    color: #ffff;
    font-size: 3em;
    font-weight: 700;
}
.text h2 {
    color: #ffff;
    font-size: 1.5em;
    font-weight: 400;
}
.text p {
    color: #ffff;
    font-size: 0.8em;
    text-align: start;
    width: 1000%;
    max-width: 600px;
    font-weight: 200;
    position: relative;
}
.text p span {
    position: absolute;
    right: 0;
    width: 0;
    /* border-left: 1px solid #ffff; */
    /* animation: maquina 7s infinite alternate steps(77); */
    /* animation-delay: 3s;  */
}
@keyframes maquina {
    from {
        width: 100%;
    }
    to {
        width: 22%;
    }
}
.tobi-img img {
    height: 420px;
    border-radius: 15px;
    border: 2px solid var(--Bg-blue);
    margin: 100px 100px 0px 0px;
}
.cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.values {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
}
.card {
    background-color: var(--Bg-blue);
    border: 1px solid #ffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 150px;
    width: 200px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.card h3 {
    color: #ffff;
    font-size: 1.2em;
    font-weight: 700;
}
.card p {
    color: #ffff;
    font-size: 0.6em;
    font-weight: 400;
}
.hobbies {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
}
/* ***********PORTFOLIOO************** */
#sec-two {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}

/* *********FOOOTERRR********* */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 50px;
    margin-left: 200px;
}
footer a i {
    color: #ffff;
    font-size: 1.2em;
    cursor: pointer;
    margin-left: 20px;
    transition: 0.2s ease all;
}
footer a i:hover {
    color: #10b4b4;
}